	
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
	

	<form class="pure-form pure-form-staked" 
		  action="https://formspree.io/mvokaevp" method="POST">
		
		<input type="hidden" name="_replyto" value="468180@chrome.escg.ac.uk">
		
		<h2>Contact</h2>
		
		<p>
			<label for="Firstname">First name</label>
				<input type="text" name="Firstname" id="Firstname" required>			
		</p>
		
		<p>
			Last name
			<input type="text" name="Lastname" required>
		</p>
			
		<p>
			email
			<input type="email" name="email" required>
		</p>
			
		<p>
			Comments<br>
			<textarea name="Comments" id="Comments" cols="30" rows="10"></textarea>		
		</p>
			
		<p>			
			<input type="submit" value="Submit" class="pure-button pure-button-primary">
		</p>
	</form>	
	
